html, body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#content {
  padding-bottom:100px; /* Height of the footer element */
}
#footer {
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}
nav ul {
  margin-top:0;
  padding-top: 75px;
}
ul li, nav li, #element1, #element2  {
  display:inline;
}
h1, h2, p , h3 , ul, form, .test, nav {
  text-align:center;
}
nav, nav li a {
  text-decoration: none;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav {
  list-style-type: none;
}
nav li {
  border-bottom: 1.5px solid #000;
  padding-bottom: 2px;
  margin-left: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
}
aside ul a {
  display: block;
}
.logo {
  position:relative;
  padding-top: 200px;
}
#sidebar {
  position:fixed;
  top:150px;
  bottom:0;
  left:100px;
  width:50px;
  text-align: center;
}
.signup{
  margin: 0;
}

